@keyframes ShowContact {
  0% {
    right: -100vw; }
  100% {
    right: 5%; } }

@keyframes ShowContactdisabled {
  0% {
    right: 5%; }
  100% {
    right: -100vw; } }

body {
  font-family: 'Ubuntu', sans-serif; }

.info {
  background-color: #303030;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px; }
  .info a {
    color: white; }
  .info a:hover {
    text-decoration: none; }

.right {
  text-align: right; }

.arrow-down {
  position: absolute;
  bottom: 0;
  left: 50%; }

#logo_top {
  width: 130px;
  height: 80px; }

#logo_footer {
  width: 130px;
  height: 80px;
  margin-top: 33px; }

.navbar {
  background-color: #ff0c0c !important; }
  .navbar .navbar-nav {
    margin-top: 45px; }
  .navbar .nav-item {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    width: 120px; }

.nav-link {
  color: white !important; }

.section-head {
  padding: 10px;
  text-align: center;
  background-image: url("/assets/img/fondomaquinas.png");
  background-size: cover;
  background-position-y: 80%;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  margin-left: 0px;
  margin-right: 0px; }
  .section-head #title_home {
    background-color: rgba(74, 74, 74, 0.8);
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 19px;
    width: 460px; }
    .section-head #title_home .h1 {
      color: #FFFFFF;
      font-family: 'Ubuntu', sans-serif;
      font-size: 52px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 50px;
      text-align: left; }
    .section-head #title_home .h3 {
      color: #FFFFFF;
      font-family: 'Ubuntu', sans-serif;
      font-size: 22px;
      line-height: 26px;
      text-align: justify !important;
      margin-top: 37px; }
    .section-head #title_home img {
      margin-bottom: 17px; }
  .section-head .item-slider {
    background-color: rgba(239, 51, 64, 0.8);
    margin: 10px;
    height: 100px;
    color: white;
    cursor: pointer;
    position: relative; }
  .section-head .item-slider:nth-child(1) img {
    width: 55px;
    height: auto;
    float: left;
    margin-top: 10%; }
  .section-head .item-slider:nth-child(1) span {
    font-size: 26.4px;
    font-weight: bold;
    letter-spacing: 1.1px;
    line-height: 31px;
    float: right;
    margin-top: 35px; }
  .section-head .item-slider:nth-child(2) img {
    width: 40px;
    height: auto;
    float: left;
    margin-top: 10%; }
  .section-head .item-slider:nth-child(2) span {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.1px;
    line-height: 31px;
    float: right;
    margin-top: 30px; }
  .section-head .item-slider:nth-child(3) img {
    width: 50px;
    height: auto;
    float: left;
    margin-top: 10%; }
  .section-head .item-slider:nth-child(3) span {
    font-size: 26.4px;
    font-weight: bold;
    letter-spacing: 1.1px;
    line-height: 31px;
    float: right;
    margin-top: -40px; }
  .section-head .item-slider:nth-child(4) img {
    width: 55px;
    height: auto;
    float: left;
    margin-top: 10%; }
  .section-head .item-slider:nth-child(4) span {
    font-size: 26.4px;
    font-weight: bold;
    letter-spacing: 1.1px;
    line-height: 31px;
    float: right;
    margin-top: -60px;
    margin-left: 60px; }
  .section-head .item-slider:nth-child(5) img {
    width: 55px;
    height: auto;
    float: left;
    margin-top: 10%; }
  .section-head .item-slider:nth-child(5) span {
    font-size: 26.4px;
    font-weight: bold;
    letter-spacing: 1.1px;
    line-height: 31px;
    float: right;
    margin-top: 35px; }
  .section-head .item-slider:nth-child(6) img {
    width: 55px;
    height: auto;
    float: left;
    margin-top: 10%; }
  .section-head .item-slider:nth-child(6) span {
    font-size: 26.4px;
    font-weight: bold;
    letter-spacing: 1.1px;
    line-height: 31px;
    float: right;
    margin-top: 35px; }
  .section-head .contnet-items-slider {
    padding-top: 130px; }

.item-blog {
  width: 292px;
  display: inline-block;
  background-color: white;
  border-bottom: solid 2.69px #EC888F;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
  margin-top: 17px;
  margin-right: 20px; }
  .item-blog img {
    width: 100%; }
  .item-blog .title-blog {
    color: #404040;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    line-height: 26px;
    margin: 20px; }
  .item-blog .text-blog, .item-blog .fecha-blog {
    color: #9A9A9A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0px 20px 20px 20px; }

.old-blog {
  padding-top: 60px; }
  .old-blog h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #404040;
    width: 270px;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    border-bottom: solid 3px #9B9B9B;
    padding-bottom: 8px; }

.items-ocasion {
  margin-top: 70px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
  padding-bottom: 10px; }
  .items-ocasion img {
    width: 100%;
    border-bottom: solid 2.69px #EC888F; }
  .items-ocasion .title-ocasion {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    margin: 9px 14px 14px 14px; }
  .items-ocasion .text-ocasion {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center; }
  .items-ocasion .pvp-ocasion {
    text-align: center; }
    .items-ocasion .pvp-ocasion span:nth-child(1) {
      font-family: 'Ubuntu', sans-serif;
      font-size: 26px;
      font-weight: bold;
      color: #EF3340;
      line-height: 30px;
      text-align: right; }
    .items-ocasion .pvp-ocasion span:nth-child(2) {
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;
      position: relative; }
    .items-ocasion .pvp-ocasion span:nth-child(2)::after {
      background: linear-gradient(to right, #EF3340, #EF3340, #EF3340, #EF3340, #EF3340);
      content: "";
      height: 0.125em;
      left: 0;
      margin-top: calc(0.125em / 2 * -1);
      position: absolute;
      right: 0;
      top: 50%; }
  .items-ocasion .fecha-ocasion {
    color: #9A9A9A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 20px 20px 20px 20px; }

.title-form-home {
  width: 789px !important; }

.content-form {
  background-color: white;
  box-shadow: 0 0 10px 0 #D5D4D5;
  border-radius: 14px;
  position: relative;
  margin-top: 87px;
  margin-bottom: 37px;
  margin-left: 10%;
  padding: 10px; }
  .content-form .title-form {
    position: absolute;
    top: 15px;
    color: #EF3340;
    text-align: center;
    z-index: 999;
    width: 100%; }
    .content-form .title-form h1 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 29px;
      margin-top: 24px; }
  .content-form .formulario-home {
    padding-top: 102px;
    padding-left: 48px;
    padding-right: 48px; }
    .content-form .formulario-home input {
      margin-bottom: 20px; }
    .content-form .formulario-home .btn {
      background-color: #EF3340;
      width: 50%;
      color: white;
      font-family: 'Ubuntu', sans-serif;
      margin-top: 29px;
      margin-bottom: 31px; }
  .content-form .formulario-allpages {
    margin-top: 80px;
    z-index: 999; }
    .content-form .formulario-allpages input {
      margin-bottom: 10px; }
    .content-form .formulario-allpages .btn {
      background-color: #EF3340;
      width: 90%;
      color: white;
      font-family: 'Ubuntu', sans-serif;
      margin-top: 29px;
      margin-bottom: 31px; }

.cabecera-nosotros {
  height: 496px;
  position: relative;
  text-align: center; }
  .cabecera-nosotros img {
    margin-top: 5%;
    display: block;
    margin-left: 44%;
    position: absolute; }
  .cabecera-nosotros #texto-header {
    width: 751px;
    margin-left: 30%;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    display: block;
    position: absolute;
    margin-top: 15%;
    text-align: center; }

.nosotros-info {
  margin-top: 50px; }
  .nosotros-info h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    color: #404040;
    border-bottom: solid 4px #EC888F;
    width: 290px;
    font-family: 'Ubuntu', sans-serif; }
  .nosotros-info img {
    width: 90%;
    margin-top: 40px;
    margin-right: 100px; }
  .nosotros-info #textonosotros {
    text-align: justify;
    line-height: 22px;
    font-size: 15px;
    color: black;
    font-family: 'Ubuntu', sans-serif; }

.los-beneficios-con-g {
  height: 31px;
  color: #4A4A4A;
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  margin-top: 80px; }

#listbenificios {
  list-style: none;
  padding: 0px; }
  #listbenificios li {
    display: inline-block;
    width: 222px;
    margin-right: 95px; }
    #listbenificios li img {
      width: 100%; }
    #listbenificios li p {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
      margin-top: 15px; }

.categoria-item {
  width: 260.33px;
  background-color: #FFFFFF;
  border-radius: 11px 11px 0 0;
  padding: 20px;
  text-align: center;
  margin: 30px 30px 25px 60px;
  box-shadow: 1px 1px 10px 1px #9B9B9B;
  border: solid 1px #EF3340;
  border-bottom: solid 3px #EF3340;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  .categoria-item img {
    width: 170px;
    height: auto; }
  .categoria-item div {
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 17px;
    text-transform: uppercase; }
  .categoria-item .cat-vermas {
    width: 100%;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    font-family: 'Ubuntu', sans-serif; }
  .categoria-item .info-cat {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-left: -20px;
    top: 0;
    padding: 20px;
    background-color: #EF3340;
    color: white; }
    .categoria-item .info-cat .title-cat {
      font-size: 20px;
      font-weight: bold;
      line-height: 25px;
      text-align: center;
      font-family: 'Ubuntu', sans-serif; }
    .categoria-item .info-cat .desc-cat {
      font-size: 12px;
      line-height: 20px;
      text-align: justify;
      font-family: 'Ubuntu', sans-serif; }
    .categoria-item .info-cat .cat-vermas {
      margin-top: 75%; }

.categoria-item:hover .info-cat {
  display: block; }

.list-title-left {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  font-family: 'Ubuntu', sans-serif; }

#list-categorias {
  list-style: none;
  width: 100%;
  padding: 5px; }
  #list-categorias li {
    width: 100%;
    cursor: pointer; }
    #list-categorias li img {
      width: 35px;
      height: 37px;
      display: inline-block; }
    #list-categorias li span {
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      line-height: 50px;
      margin-left: 18px;
      display: inline-block; }

.filtros {
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.08);
  border-radius: 8px 8px 0 0;
  padding: 20px;
  padding-bottom: 0px;
  border-bottom: solid 4px #EF3340; }
  .filtros h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 10px;
    color: #EF3340; }
  .filtros #list-filtros {
    list-style: none;
    padding: 0px; }
  .filtros .filtro-form {
    width: 240px; }

.cat-active span {
  color: #EF3340; }

.item-producto-list {
  cursor: pointer; }
  .item-producto-list h1 {
    background-color: #EF3340;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.83px;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 0px; }
    .item-producto-list h1:before {
      content: "";
      position: absolute;
      top: 23px;
      left: 0px;
      width: 25px;
      border-bottom: 12px solid #a8222B;
      line-height: 23px;
      z-index: -1;
      transform: rotate(45deg); }
  .item-producto-list h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px; }
  .item-producto-list p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    line-height: 16px; }

.onback {
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif; }

.nav-tabs {
  margin-top: 91px;
  border: none; }
  .nav-tabs li {
    text-align: center;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.08);
    margin-right: 5px;
    border-bottom: solid 4px #9B9B9B; }
    .nav-tabs li a {
      color: #4A4A4A;
      text-decoration: none;
      font-family: 'Ubuntu', sans-serif;
      font-size: 24px;
      font-weight: bold;
      line-height: 28px;
      margin-left: 7px;
      margin-right: 7px;
      margin-top: 7px;
      padding-bottom: 2px; }
    .nav-tabs li a.active {
      border-bottom: solid 4px #EF3340;
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 7px;
      padding-bottom: 2px;
      width: 100%; }

.lis-option {
  list-style: none; }

.option {
  background-color: #e8e8e8;
  padding: 20px;
  color: black;
  margin: 2px;
  width: 241px;
  height: 170px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }
  .option .icon-imatge {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 50px;
    color: #ff0c0c; }
  .option h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 26px; }
  .option span {
    font-size: 14px;
    line-height: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: black; }
  .option a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Ubuntu', sans-serif; }
  .option:hover {
    background-color: #ff0c0c; }
    .option:hover .icon-imatge {
      color: white; }
    .option:hover a, .option:hover i, .option:hover h3, .option:hover span {
      color: white; }

.row-error {
  margin-left: 0px;
  margin-right: 0px; }

.footer, .footer2 {
  background-color: #303030;
  color: white; }
  .footer p, .footer a, .footer2 p, .footer2 a {
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-family: 'Ubuntu', sans-serif; }
  .footer h3, .footer2 h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 22px;
    margin-top: 58.52px; }

.footer2 {
  border-top: solid 1px #535353;
  padding-top: 16px;
  padding-bottom: 20px; }

.redsocial_footer:nth-child(1) {
  margin-left: 40px; }

.redsocial_footer {
  margin-right: 16.16px; }

#map {
  height: 500px; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.popup-contacte {
  background-color: #EF3340;
  position: fixed;
  right: -5%;
  top: 50%;
  cursor: pointer;
  transform: rotate(270deg);
  padding: 17px;
  border-radius: 15px 15px 0px 0px;
  height: 65px;
  width: 244px;
  z-index: 9999; }
  .popup-contacte span:nth-child(1) {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    position: absolute;
    bottom: 18px; }
  .popup-contacte span:nth-child(2) {
    font-size: 50px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    right: 23px;
    top: 0;
    transform: rotate(90deg); }

.form-popup-contacto {
  position: fixed;
  right: -100vw;
  top: 26%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 500px; }

.form-popup-contacto-active {
  animation: ShowContact 1s forwards;
  z-index: 9999; }

.form-popup-contacto-desactive {
  animation: ShowContactdisabled 1s forwards; }

.title {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  border-bottom: solid 4px #EC888F;
  width: 230px;
  font-family: 'Ubuntu', sans-serif;
  display: inline-block; }

.title2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  width: 230px;
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  color: rgba(155, 155, 155, 0.59); }

.btn-web {
  background-color: #EF3340;
  border-radius: 14px;
  max-width: 240px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3.38px;
  line-height: 21px;
  display: block;
  margin-left: 40px;
  white-space: normal; }
