@keyframes ShowContact {
    0% {
        right:-100vw;
    }

    100% {
        right: 5%;
    }
}

@keyframes ShowContactdisabled{
    0% {
        right: 5%;
    }

    100% {
        right: -100vw;
    }
}


@keyframes ShowContactMobile {
    0% {
        right: -150vw;
    }

    100% {
        right: -17vw;
    }
}

@keyframes ShowContactMobiledisabled {
    0% {
        right: -17vw;
    }

    100% {
        right: -150vw;
    }
}

@keyframes ShowContactMobile320 {
    0% {
        right: -135vw;
    }

    100% {
        right: -28vw;
    }
}

@keyframes ShowContactMobiledisabled320 {
    0% {
        right: -28vw;
    }

    100% {
        right: -135vw;
    }
}
