@import 'variables.scss';

.section-head {
    padding: 30px;
    height: 450px;
    text-align: center;
    background-image: url("/assets/img/fondomaquinas.png");
    background-size: cover;
    background-position-y: 80%;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;

    #title_home {
        background-color: $title_home;
        padding-left: 29px;
        padding-right: 29px;
        padding-top: 19px;
        width: 420px;

        .h1 {
            color: #FFFFFF;
            font-family: 'Ubuntu', sans-serif;
            font-size: 52px;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 50px;
            text-align: left;
        }

        .h3 {
            color: #FFFFFF;
            font-family: 'Ubuntu', sans-serif;
            font-size: 22px;
            line-height: 26px;
            text-align: justify !important;
            margin-top: 37px;
        }

        img {
            width:50px;
        }
    }

    .item-slider {
        background-color: $item-slider2;
        margin: 10px;
        height: 100px;
        color: white;
        cursor: pointer;
        position: relative;
    }

    .item-slider:nth-child(1) {
        img {
            width: 70px;
            height: auto;
            float: left;
            margin-top: 8%;
        }

        span {
            font-size: 26.4px;
            font-weight: bold;
            letter-spacing: 1.1px;
            line-height: 31px;
            float: right;
            margin-top: -53px;
            width: 202px;
        }
    }

    .item-slider:nth-child(2) {
        img {
            width: 70px;
            height: auto;
            float: left;
            margin-top: 8%;
        }

        span {
            font-size: 26.4px;
            font-weight: bold;
            letter-spacing: 1.1px;
            line-height: 31px;
            float: right;
            margin-top: -53px;
            width: 202px;
        }
    }

    .item-slider:nth-child(3) {
        img {
            width: 70px;
            height: auto;
            float: left;
            margin-top: 8%;
        }

        span {
            font-size: 26.4px;
            font-weight: bold;
            letter-spacing: 1.1px;
            line-height: 31px;
            float: right;
            margin-top: -53px;
            width: 202px;
        }
    }

    .item-slider:nth-child(4) {
        img {
            width: 70px;
            height: auto;
            float: left;
            margin-top: 8%;
        }

        span {
            font-size: 26.4px;
            font-weight: bold;
            letter-spacing: 1.1px;
            line-height: 31px;
            float: right;
            margin-top: -70px;
            width: 202px;
        }
    }

    .item-slider:nth-child(5) {
        img {
            width: 70px;
            height: auto;
            float: left;
            margin-top: 8%;
        }

        span {
            font-size: 26.4px;
            font-weight: bold;
            letter-spacing: 1.1px;
            line-height: 31px;
            float: right;
            margin-top: -53px;
            width: 202px;
        }
    }

    .item-slider:nth-child(6) {
        img {
            width: 70px;
            height: auto;
            float: left;
            margin-top: 8%;
        }

        span {
            font-size: 26.4px;
            font-weight: bold;
            letter-spacing: 1.1px;
            line-height: 31px;
            float: right;
            margin-top: -53px;
            width: 202px;
        }
    }


    .contnet-items-slider {
        padding-top: 130px;
    }
}

.item-blog {
    width: 292px;
    display: inline-block;
    background-color: white;
    border-bottom: solid 2.69px $line-blog;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.08);
    margin-top: 17px;
    margin-right: 20px;

    img {
        width: 100%;
    }

    .title-blog {
        color: $gris-title;
        font-family: 'Ubuntu', sans-serif;
        font-size: 22px;
        line-height: 26px;
        margin: 20px;
    }

    .text-blog, .fecha-blog {
        color: $text-blog;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        line-height: 20px;
        margin: 0px 20px 20px 20px;
    }
}

.old-blog {
    padding-top: 60px;

    h1 {
        font-family: 'Ubuntu', sans-serif;
        color: $gris-title;
        width: 285px;
        font-size: 30px;
        font-weight: bold;
        line-height: 35px;
        border-bottom: solid 3px $line-title;
        padding-bottom: 8px;
    }
}

.items-ocasion {
    margin-top: 70px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.08);
    padding-bottom:10px;

    img {
        width: 100%;
        border-bottom: solid 2.69px $line-blog;
    }

    .title-ocasion {
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        text-align: center;
        margin: 14px 14px 14px 14px;
    }

    .text-ocasion {
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }

    .pvp-ocasion {
        text-align: center;
        margin-top:14px;

        span:nth-child(1) {
            font-family: 'Ubuntu', sans-serif;
            font-size: 26px;
            font-weight: bold;
            color: $globalpack;
            line-height: 30px;
            text-align: right;
        }

        span:nth-child(2) {
            font-family: 'Ubuntu', sans-serif;
            font-size: 18px;
            font-weight: bold;
            line-height: 21px;
            position: relative;
        }

        span:nth-child(2)::after {
            background: linear-gradient(to right, $globalpack, $globalpack, $globalpack, $globalpack, $globalpack);
            content: "";
            height: 0.125em;
            left: 0;
            margin-top: calc(0.125em / 2 * -1);
            position: absolute;
            right: 0;
            top: 50%;
        }
    }

    .fecha-ocasion {
        color: $text-blog;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        line-height: 20px;
        margin: 20px 20px 20px 20px;
        padding-bottom:10px;
    }
}

.title-form-home{
    width:789px !important;
}

.content-form {
    background-color: white;
    box-shadow: 0 0 10px 0 #D5D4D5;
    border-radius: 14px;
    position: relative;
    margin-top: 60px;
    margin-bottom: 37px;
    margin-left: 10%;
    padding: 10px;

    .title-form {
        position: absolute;
        top: 15px;
        color: $globalpack;
        text-align: center;
        z-index: 999;
        width: 100%;

        h1 {
            font-family: 'Ubuntu', sans-serif;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 29px;
            margin-top:10px;
            margin-left:-20px;
        }
    }

    .formulario-home {
        padding-top: 102px;
        padding-left: 48px;
        padding-right: 48px;

        input {
            margin-bottom: 20px;
        }

        .btn {
            background-color: $globalpack;
            width: 50%;
            color: white;
            font-family: 'Ubuntu', sans-serif;
            margin-top: 29px;
            margin-bottom: 31px;
        }
    }

    .formulario-allpages {
        margin-top: 80px;
        z-index: 999;

        input {
            margin-bottom: 10px;
        }

        .btn {
            background-color: $globalpack;
            width: 90%;
            color: white;
            font-family: 'Ubuntu', sans-serif;
            margin-top: 29px;
            margin-bottom: 31px;
        }
    }
}

#arrow-down{
    cursor:pointer;
}