@import 'variables.scss';

.cabecera-nosotros {
    height: 450px;
    position: relative;
    text-align: center;

    img {
        margin-top: 2%;
        display: block;
        margin-left: 30%;
        margin-right: 30%;
        position: absolute;
        width: 40%;
    }

    #texto-header {
        margin-left: 30%;
        margin-right: 30%;
        font-size: 24px;
        line-height: 28px;
        font-family: 'Ubuntu', sans-serif;
        color: white;
        display: block;
        position: absolute;
        margin-top: 10%;
        text-align: center;
        z-index: 9999;
    }

    .nosotros-header-alhpa {
        width: 100%;
        height: 100%;
        background-color: rgba(239, 51, 64, 0.7);
    }
}

.nosotros-info {
    margin-top: 50px;

    h1 {
        font-size: 30px;
        font-weight: bold;
        line-height: 35px;
        color: $gris-title;
        border-bottom: solid 4px $line-blog;
        width: 290px;
        font-family: 'Ubuntu', sans-serif;
    }

    img {
        width: 100%;
        margin-right:100px;
    }

    #textonosotros {
        text-align: justify;
        line-height: 22px;
        font-size: 15px;
        color: black;
        font-family: 'Ubuntu', sans-serif;
    }
}

.los-beneficios-con-g {
    height: 31px;
    color: $item-slider;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    margin-top:80px;
}

#listbenificios {
    list-style: none;
    //padding:0px;
    margin-top:20px;
    li {
        display: inline-table;
        width: 222px;
        margin-right: 95px;

        img {
            width: auto;
            height:90px;
        }

        p {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            font-family: 'Ubuntu', sans-serif;
            margin-top:15px;
        }
    }
}

#nosotros-arrow-down{
    cursor:pointer;
    width:70px;    
}