@import 'variables.scss';

.categoria-item {
    width: 255.33px;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 11px 11px 0 0;
    padding: 20px;
    text-align: center;
    margin: 30px 0px 25px 14px;
    box-shadow: 1px 1px 10px 1px $line-title;
    border: solid 1px $line-categorias;
    border-bottom: solid 3px $line-categorias;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    img {
        width: auto;
        height: 170px;
    }

    div {
        width: 100%;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        margin-top: 17px;
    }


    .cat-vermas {
        width: 100%;
        text-align: right;
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
        position: absolute;
        bottom: 6px;
        right: 10px;
        font-family: 'Ubuntu', sans-serif;
    }

    .info-cat {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        margin: 0px;
        margin-left: -20px;
        top: 0;
        padding: 20px;
        background-color: $globalpack;
        color: white;

        .title-cat {
            font-size: 20px;
            font-weight: bold;
            line-height: 20px;
            text-align: center;
            font-family: 'Ubuntu', sans-serif !important;
            text-transform: uppercase;
        }

        .desc-cat {
            font-size: 13px;
            line-height: 20px;
            text-align: justify;
            font-family: 'Ubuntu', sans-serif;
            font-weight:300;
        }

        .cat-vermas {
            margin-top: 75%;
        }
    }
}
.postventa-list {
    .categoria-item {
        height: 300px;

        .cat-vermas {
            position: absolute;
            bottom: 6px;
            right: 10px;
        }
    }

    .info-cat {
        padding-top: 0px;
    }

    img {
        margin-top:40px;
        height: 130px;
    }

    .desc-cat {
        font-size: 12px;
        line-height: 20px;
        text-align: justify;
        font-family: 'Ubuntu', sans-serif;
    }
}

.categoria-item:hover{
    .info-cat{
        display:block;
    }
}

.list-title-left {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    font-family: 'Ubuntu', sans-serif;
}

#list-categorias {
    list-style: none;
    width: 100%;
    padding: 5px;

    li {
        width: 100%;
        cursor:pointer;
        display:flex;
        padding:10px;
        img {
            width: 35px;
            height: 37px;
            display: inline-block;
            float:left;
        }

        span {
            font-family: 'Ubuntu', sans-serif;
            font-size: 18px;
            line-height: 22px;
            margin-left: 18px;
            display: inline-block;
            width:200px;
            font-weight:normal;
            height:100%;
            
        }
    }
}

.autosemi {
    h3 {
        margin-top:15px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 10px;
        color: $globalpack;
        margin-bottom: 15px;
        width: 100% !important;
    }
}
.filtros {
    box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.08);
    border-radius: 8px 8px 0 0;
    padding: 20px;
    padding-bottom: 0px;
    border-bottom: solid 3px $globalpack;

    h3 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 10px;
        color: $globalpack;
        margin-bottom: 15px;
        width: 100% !important;
    }

    #list-filtros {
        list-style: none;
        padding: 0px;
    }

    .filtro-form {
        width: 240px;

        label {
            font-size: 12px;
            font-family: 'Ubuntu', sans-serif;
            font-weight: bold;
        }
    }
}

.cat-active span{
    color:$globalpack;
    margin-left:10px;
}
.item-producto-list {
    cursor: pointer;

    h1 {
        background-color: $globalpack;
        color: white;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        line-height: 24px;
        letter-spacing: 0.83px;
        font-weight: bold;
        font-size: 24px;
        position: absolute;
        padding: 10px;
        top: 5px;
        left: -4px;

        &:before {
            content: "";
            position: absolute;
            top: 38px;
            left: 1px;
            width: 30px;
            border-bottom: 17px solid $pleg;
            line-height: 23px;
            z-index: -1;
            transform: rotate(45deg);
        }
    }

    h3 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        margin-top: 10px;
    }

    p {
        font-family: 'Ubuntu', sans-serif;
        font-size: 12px;
        line-height: 16px;
    }
}

.onback {
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-tabs {
    margin-top: 40px;
    border: none;

    li {
        text-align: center;
        border-radius: 8px 8px 0 0;
        box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.08);
        margin-right: 5px;
        border-bottom: solid 4px $line-title;
        padding:8px 31px 12px 31px;

        a {
            color: $item-slider;
            text-decoration: none;
            font-family: 'Ubuntu', sans-serif;
            font-size: 24px;
            font-weight: bold;
            line-height: 28px;
            margin-left: 7px;
            margin-right: 7px;
            margin-top: 7px;
            padding-bottom: 2px;
        }
    }

    li:focus-within {
        border-bottom: solid 4px $globalpack;
    }
}

.item-slider {
    cursor: pointer;
    width: 350px !important;
    overflow: hidden;
    position: relative;

    img {
        margin-top: -40px;
    }

    .item-slider-info {
        position: absolute;
        width: 350px;
        height: 100%;
        opacity: 0;
        text-align: center;
        cursor: pointer;
        background-color: $negre-alpha;
        z-index: 999;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        padding-top:40%;
        

        h3 {
            color: white;
        }

        p {
            color: white;
            text-decoration: underline;
        }

        &:hover {
            display: block;
        }
    }

    .item-slider-info:hover {
        opacity: 1;
    }
}

.slick-prev:after {
    content: "<";
    color: #9b9b9b;
    font-size: 36px;
    margin-left: -20px;
    margin-top:5px;
    font-family: 'Ubuntu', sans-serif;
}

.slick-next:before {
    content: ">";
    color: #9b9b9b;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.icono-servicios{
    height:60px;
    width:auto;
}

.item-producto-ocasion {
    box-shadow: 0 0 30px -4px rgba(0,0,0,0.13);
    padding: 0px;
    cursor: pointer;

    h1 {
        background-color: $globalpack;
        color: white;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        line-height: 24px;
        letter-spacing: 0.83px;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        padding: 10px;
        top: 25px;
        left: -4px;
        width:140px;
        text-transform:uppercase;


        &:before {
            content: "";
            position: absolute;
            top: 38px;
            left: 1px;
            width: 30px;
            border-bottom: 17px solid $pleg;
            line-height: 23px;
            z-index: -1;
            transform: rotate(45deg);
        }
    }

    p {
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }

    img {
        border-bottom: solid 4px $globalpack;
    }

    .pvp_ocasion {
        font-size: 26px;
        font-weight: bold;
        line-height: 30px;
        text-align: right;
        color: $globalpack;
        font-family: 'Ubuntu', sans-serif;
    }

    .pvp {
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        position: relative;
    }

    .pvp::after {
        background: linear-gradient(to right, $globalpack, $globalpack, $globalpack, $globalpack, $globalpack);
        content: "";
        height: 0.125em;
        left: 0;
        margin-top: calc(0.125em / 2 * -1);
        position: absolute;
        right: 0;
        top: 50%;
    }

    .anogarantia {
        float: left;
        text-align: left;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 8px;
        letter-spacing: 1px;
        line-height: 5px;
        font-size: 12px;
    }

    .vermas {
        float: right;
        font-family: 'Ubuntu', sans-serif;
        text-align: right;
        color: $globalpack;
        font-size: 11.2px;
        font-weight: bold;
        line-height: 14px;
        margin-right: 8px;
    }

    h3 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        text-align: center;
        margin: 14px 14px 14px 14px;
    }
}

#titleproducto {
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    line-height: 32px;
}