@import 'variables.scss';

.categoria-item {
    width: 260.33px;
    background-color: #FFFFFF;
    border-radius: 11px 11px 0 0;
    padding: 20px;
    text-align: center;
    margin: 30px 92px 25px 0px;
    box-shadow: 0px 0px 5px 0px $line-title;
    border-bottom: solid 3px $line-categorias;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    img {
        width: 170px;
        height: auto;
    }

    div {
        width: 100%;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        margin-top: 17px;
    }

    .cat-vermas {
        width: 100%;
        text-align: right;
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
        font-family: 'Ubuntu', sans-serif;
    }

    .info-cat {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        margin: 0px;
        margin-left: -20px;
        top: 0;
        padding: 20px;
        background-color: $globalpack;
        color: white;

        .title-cat {
            font-size: 20px;
            font-weight: bold;
            line-height: 25px;
            text-align: center;
            font-family: 'Ubuntu', sans-serif;
        }

        .desc-cat {
            font-size: 12px;
            line-height: 20px;
            text-align: justify;
            font-family: 'Ubuntu', sans-serif;
        }

        .cat-vermas{
            margin-top:75%;
        }
    }
}

.categoria-item:hover{
    .info-cat{
        display:block;
    }
}

.list-title-left {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    font-family: 'Ubuntu', sans-serif;
}

#list-categorias {
    list-style: none;
    width: 100%;
    padding: 5px;

    li {
        width: 100%;
        cursor:pointer;
        img {
            width: 35px;
            height: 37px;
            display: inline-block;
        }

        span {
            font-family: 'Ubuntu', sans-serif;
            font-size: 18px;
            line-height: 50px;
            margin-left: 18px;
            display: inline-block;
        }
    }
}

.filtros {
    box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.08);
    border-radius: 8px 8px 0 0;
    padding: 20px;
    padding-bottom:0px;
    border-bottom: solid 4px $globalpack;

    h3 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 10px;
        color: $globalpack;
    }

    #list-filtros {
        list-style: none;
        padding:0px;
    }

    .filtro-form{
        width:240px;
    }
}

.cat-active span{
    color:$globalpack;
}
.item-producto-list {
    cursor:pointer;
    h1 {
        background-color: $globalpack;
        color: white;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        line-height: 24px;
        letter-spacing: 0.83px;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        top: 5px;
        left: 0px;

        &:before {
            content: "";
            position: absolute;
            top: 23px;
            left: 0px;
            width: 25px;
            border-bottom: 12px solid $pleg;
            line-height: 23px;
            z-index: -1;
            transform: rotate(45deg);
        }
    }

    h3 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
    }

    p {
        font-family: 'Ubuntu', sans-serif;
        font-size: 12px;
        line-height: 16px;
    }
}

.onback {
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}