@media only screen and (max-width: 600px) {
    
    .info{
        display:none;
    }
    .title-form-home{
        width:100% !important;
        margin-left:0% !important;
    }
    .content-form .formulario-home{
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .navbar{
        width:100%;
    }
    .navbar-light .navbar-toggler{
        color:white;
        border:solid 1px white;
        background-color:white;
    }
    .nav-item{
        width:100% !important;
        text-align:center !important;
        cursor:pointer !important;
        border-bottom:solid 1px rgba(255,255,255, 0.2);
    }
    .navbar-collapse{
        margin-left:0px !important;
    }
    .navbar .navbar-nav{
        margin-left:0px;
    }
    .section-head #title_home {
        width: 100%;

        .h1 {
            font-size: 2em !important;
            line-height: 34px !important;
        }

        :nth-child(3) {
            display: none;
        }
    }

    .filtros h3{
        width:100%;
    }

    .item-blog {
        width: 313px;
        margin-right: 0px;
    }
    .old-blog h1{
        width:309px;
        text-align:center;
    }
    .cabecera-nosotros {
        img {
            margin-top: 8%;
            display: block;
            margin-left: 6%;
            position: absolute;
            width: 90%;
        }

        #texto-header {
            width: 100%;
            margin-left: 0px;
            text-align: center;
            margin-top: 32%;
            padding-left: 10px;
            padding-right: 10px;
        }

        .arrow-down{
            left:44%;
        }
    }
    #listbenificios{
        margin-top:45px;
        li{
            width:100%;
            margin-right:0px !important;
            img{
                height:150px;
            }
        }
    }
    .nosotros-info {
        img {
            margin-top: 0px;
            margin-left: -28px;
            width: 120%;
            margin-right:0px;
        }

        :nth-child(1){
            :nth-child(2) {
            margin-top: 5px !important;
            }
        }

        #textonosotros{
            margin-top:10px !important;
        }
    }

    #listbenificios {
        .categoria-item {
            margin: 30px 0 25px 38px;
        }
    }
    .footer-box{
        padding-left:20px !important;
    }
    .mapacontacto {
        padding-left: 0px;
        padding-right: 0px;
    }
    .popup-contacte {
        right: 1%;
    }
    .option-contact {
        width: 100% !important;
    }
    .lis-option .option-contact{
        margin-right:0px;
    }
    .col-lg-6.form-contacto {
        margin-top: 20px;
    }
    .btn-web{
        margin:5px;
    }
    .col-form-contacto {

        .container {
            padding: 0px !important;
        }

        .form-contacto {
            padding: 0px !important;
        }
    }

    .option{
        width:100%;
        flex:auto;
        margin:10px 20px 0px 17px;
    }
    .footer-cuadrats {
        display: none;
    }
    .footer{
        text-align:center;
        .col-lg-2{
            margin-top:-50px;
            cursor:pointer;
            p{
                display:none;
            }
        }
        .col-lg-3:nth-child(1n+2){
            p{
                display:none;
            }
        }
    }
    .footer2{
        .col-lg-2{
            text-align:center;
        }
    }

    .form-popup-contacto {
        right: -120vw !important;
        top: -12%;
        overflow: scroll;
        height: 100vh;
    }
    .form-popup-contacto-active {
        animation: ShowContactMobile 1s forwards;
        z-index: 9999;
    }

    .form-popup-contacto-desactive {
        animation: ShowContactMobiledisabled 1s forwards;
    }
}

@media only screen and (max-width: 320px) {
    .popup-contacte{
        right:-28% !important;
    }
    .form-popup-contacto {
        right: -135vw !important;
        top: -12%;
        overflow:scroll;
        height: 115vh;
        i{
            margin-right:31px !important;
        }
    }

    .form-popup-contacto-active {
        animation: ShowContactMobile320 1s forwards;
        z-index: 9999;
    }

    .form-popup-contacto-desactive {
        animation: ShowContactMobiledisabled320 1s forwards;
    }
    .nosotros-info {
        img {
            margin-left:-23px;
        }
    }
}