@media only screen and (max-width: 600px) {
    .info{
        display:none;
    }
    .title-form-home{
        width:100% !important;
        margin-left:0% !important;
    }
    .content-form .formulario-home{
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .navbar{
        width:100%;
    }
    .navbar-light .navbar-toggler{
        color:white;
        border:solid 1px white;
        background-color:white;
    }
    .nav-item{
        width:100% !important;
        text-align:center !important;
        cursor:pointer !important;
        border-bottom:solid 1px rgba(255,255,255, 0.2);
    }
    .navbar-collapse{
        margin-left:0px !important;
    }
    .section-head #title_home{
        width:100%;
        .h1{
            font-size:2em !important;
            line-height:34px !important;
        }
        :nth-child(3){
            display:none;
        }
    }

    .cabecera-nosotros {
        img {
            margin-top: 5%;
            display: block;
            margin-left: 28%;
            position: absolute;
            width:50%;
        }

        #texto-header {
            width: 100%;
            margin-left: 0px;
            text-align: center;
            margin-top:45%;
        }
    }
    #listbenificios{
        margin-top:45px;
        li{
            width:100%;
            img{
                height:150px;
            }
        }
    }
    .nosotros-info {
        img {
            margin-top: 0px;
            margin-left: 0px;
            width: 100%;
        }

        :nth-child(1){
            :nth-child(2) {
            margin-top: 5px !important;
            }
        }

        #textonosotros{
            margin-top:10px !important;
        }
    }

    .option-contact{
        width:100% !important;
    }
    .col-form-contacto {

        .container {
            padding: 0px !important;
        }

        .form-contacto {
            padding: 0px !important;
        }
    }

    .footer-cuadrats {
        display: none;
    }
    .footer{
        text-align:center;
    }
}
