$gris: #e8e8e8;
$gris_negre: #303030;
$red: #ff0c0c;
$globalpack: #EF3340 ;
$line: #535353;
$red_opacity: rgba(239,51,64,0.8);
$pleg: rgba(117, 1, 9, 0.80);
$item-slider: #4A4A4A;
$gris-title: #404040;
$line-title: #9B9B9B;
$text-blog: #9A9A9A;
$line-blog: #EC888F;
$line-categorias: #EF3340; 