$gris: #e8e8e8;
$gris_negre: #303030;
$red: #ff0c0c;
$globalpack: #EF3340 ;
$line: #535353;
$red_opacity: rgba(239,51,64,0.8);
$item-slider: #4A4A4A;
$item-slider2: $red_opacity;
$title_home : rgba(74, 74, 74, 0.8);
$gris-title: #404040;
$line-title: #9B9B9B;
$fondo-row: #F7F7F7 ;
$text-blog: #9A9A9A;
$line-blog: #EC888F;
$line-categorias: #EF3340; 
$pleg: #a8222B;