.skin-blue .main-header .navbar {
  background-color: #ef3340; }

.skin-blue .main-header .logo {
  background-color: #f74551; }

.user-panel {
  display: -webkit-inline-box; }

.user-panel > .info {
  position: initial; }

.btn {
  border-radius: 50px;
  background-color: #ef3340;
  color: white; }

.pagination > li {
  cursor: pointer;
  padding: 5px;
  background-color: #ef3340;
  color: white; }

.pagination > li:hover {
  background-color: #f74551; }

#beneficio_text {
  height: 45px;
  border-radius: 0px !important; }

.move {
  cursor: move;
  border: solid 1px #393939; }

.delete_relacionados {
  font-size: 30px;
  margin-top: 6%; }

#list_productos, #relacionados {
  background-color: #f1f1f1;
  padding: 10px;
  border: dashed 2px #393939;
  margin-top: 10px; }

.input-group-text {
  background-color: #ef3340 !important;
  color: white;
  border-radius: 0px 50px 50px 0px !important; }

.input-group input {
  border-radius: 50px 0px 0px 50px !important;
  border-right: none; }

#listado {
  list-style-type: none;
  padding: 0; }
  #listado li {
    width: 100%;
    display: block;
    margin: 10px;
    border: solid 1px #808080;
    background-color: white; }
    #listado li img {
      width: 100px;
      display: inline-block; }
    #listado li span {
      width: 70%;
      display: inline-block;
      margin-left: 10px; }
    #listado li i {
      margin-left: 10px; }

#listcategorias {
  padding: 0px; }
  #listcategorias li {
    border: dashed 1px #393939;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px; }
  #listcategorias li:hover {
    background-color: rgba(239, 239, 239, 0.3); }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #ef3340; }

input:focus + .slider {
  box-shadow: 0 0 1px #ef3340; }

input:checked + .slider:before {
  -webkit-transform: translateX(66px);
  -ms-transform: translateX(66px);
  transform: translateX(66px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

#progress-wrp {
  border: 1px solid #ef3340;
  padding: 1px;
  position: relative;
  height: 30px;
  border-radius: 3px;
  margin: 10px;
  text-align: left;
  background: #fff;
  box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12); }
  #progress-wrp .progress-bar {
    height: 100%;
    border-radius: 3px;
    background-color: rgba(3, 63, 167, 0.7);
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11); }
  #progress-wrp .status {
    top: 3px;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: #000000; }

#listimagenes {
  list-style: none;
  padding: 0px; }
  #listimagenes li {
    display: inline-block;
    margin: 10px;
    width: 128px;
    position: relative; }
    #listimagenes li img {
      width: 100% !important; }
    #listimagenes li i {
      position: absolute;
      margin: 10px;
      color: white;
      background-color: red;
      border-radius: 100%;
      padding: 10px;
      cursor: pointer;
      top: 0;
      right: 0px; }

.tab {
  display: none; }

.tab-active {
  display: block; }

#selectcat, #selectsubcat, #selectserveis {
  padding: 0;
  list-style: none; }
  #selectcat li, #selectsubcat li, #selectserveis li {
    width: 85px;
    display: inline-table;
    margin: 10px;
    text-align: center;
    border: dashed 1px #393939;
    padding: 5px;
    cursor: pointer; }
    #selectcat li span, #selectsubcat li span, #selectserveis li span {
      font-size: 12px;
      line-height: 1.2; }
  #selectcat li:hover, #selectcat li.active, #selectcat .cat_Active, #selectsubcat li:hover, #selectsubcat li.active, #selectsubcat .cat_Active, #selectserveis li:hover, #selectserveis li.active, #selectserveis .cat_Active {
    background-color: rgba(247, 69, 81, 0.6); }
    #selectcat li:hover span, #selectcat li.active span, #selectcat .cat_Active span, #selectsubcat li:hover span, #selectsubcat li.active span, #selectsubcat .cat_Active span, #selectserveis li:hover span, #selectserveis li.active span, #selectserveis .cat_Active span {
      color: white; }
