.input-group-addon {
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-right: solid 1px;
  border-left: none;
  padding: 10px;
  border-radius: 0px 5px 5px 0px !important; }

.input-group input {
  border-radius: 5px 0px 0px 5px; }

.header-table {
  text-align: center;
  border-bottom: solid 1px #cacaca; }
  .header-table .title-table {
    font-weight: bold; }

.row-table {
  padding: 10px;
  text-align: center; }

.row-table-border {
  border-bottom: solid 1px #cacaca; }

footer {
  font-size: 13px; }

#ModalBlogMultimedia .modal-dialog {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0; }

#ModalBlogMultimedia .modal-content {
  height: auto;
  min-height: 100%;
  width: 100vw;
  border-radius: 0; }

#ModalBlogMultimedia #listimagenes > li {
  cursor: pointer; }

#post_images {
  list-style: none; }
  #post_images li {
    display: inline-block;
    margin: 5px; }

.imgActive > img {
  opacity: 0.7; }
