@import 'variables.scss';

.input-group-addon {
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-left:none;
    padding:10px;
    border-radius:0px 5px 5px 0px !important;
}

.input-group input{
    border-radius:5px 0px 0px 5px;
}

.header-table {
    text-align:center;
    border-bottom:solid 1px $border-bottom;
    .title-table {
        font-weight: bold;
    }
}

.row-table {
    padding:10px;
    text-align:center;
}
.row-table-border {
    border-bottom: solid 1px $border-bottom;
}

footer {
    font-size:13px;
}

#ModalBlogMultimedia {
    & .modal-dialog {
        width: 100vw;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    & .modal-content {
        height: auto;
        min-height: 100%;
        width: 100vw;
        border-radius: 0;
    }

    & #listimagenes > li{
        cursor:pointer;
        width:128px;
    }
}

#post_images{
    list-style:none;
    & li{
        display:inline-block;
        margin:5px;
    }
}

.imgActive > img{
    opacity:0.7;
    border:solid 1px $Globalpack;
}

.item-slider{
    border:solid 1px $Globalpack;
    margin:10px;
    padding:10px;
    background-color:$Globalpack;
}