@import 'variables.scss';

body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #e73642;
}
.login-box{
    border:solid 1px;
    background-color: $blancoAlhpa;
    padding:50px;
    border-radius:5px;
    margin-top:15%;
    width:460px;
    margin-left:30%;
    background-color:white;
}

.login-logo{
    text-align:center;
    & > a{
        font-size:50px;
        font-weight:bold;
        color:$titlelogo;
    }
}

.login-box-body {
    padding-top: 50px;
    padding-bottom:100px;
    input {
        border-radius: 0px;
        border: solid 1px #000000;
    }
}

.btn-cms {
    background-color: $Globalpack;
    color: $blanco;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    border: none;
    border-radius:0px;
}

.login-box-msg {
    font-weight: bold;
}