
$blancoAlhpa: rgba(255,255,255,0.8);
$titlelogo: rgb(3, 63, 167);
$blue: rgb(3, 63, 167);
$blue_alpha: rgba(3, 63, 167, 0.7);
$blanco: white;
$FondoBoton: #ef3340;
$Globalpack: #ef3340;
$Globalpack2: #f74551;
$rgbaGlobalPack: rgba(247, 69, 81, 0.60);
$textoBoton: white;
$border-bottom: rgb(202, 202, 202);